<!DOCTYPE html>
<html lang="en">
	<head>
		<title>IMBO</title>

		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body>

		<div id="app" class="container-fluid">
			<div class="row">
			    <div class="col-2 hidden-sm-down"></div>
			    <div class="subject col">

			    	<p>{{ phrase.ru }}</p>

			    	<div v-if="ok === true" class="alert alert-success" role="alert">
					  	<strong>Well done!</strong> You successfully read this important alert message.
					</div>

					<div v-else-if="ok === false" class="alert alert-danger" role="alert">
					  	<strong>Oh snap!</strong> Change a few things up and try submitting again.
					</div>

			      	<input type="text" v-model="input" v-on:keyup.enter="checkPhrase()"><button v-on:click="checkPhrase()" class="btn btn-sm btn-outline-success">Submit</button>

			      	<div class="row">
			      		<div class="col">
			      			<div>
			      				<br>
			      				<div v-for="row in pronounses" class="row">
			      					<button v-on:click="inputWord(pronounce)" v-for="pronounce in row" class="btn btn-sm btn-outline-primary">{{ pronounce }}</button>
			      				</div>
			      			</div>
			      			<div>
			      				<br>
			      				<div v-for="row in auxiliary" class="row">
			      					<button v-on:click="inputWord(auxiliar)" v-for="auxiliar in row" class="btn btn-sm btn-outline-secondary">{{ auxiliar }}</button>
			      				</div>
			      			</div>
			      		</div>

			      		<div class="col">
			      			<p>Сказуемое</p>
			      		</div>

			      		<div class="col">
			      			<p>Всё остальное</p>
			      		</div>
			      	</div>
			    </div>
			    <div class="col-2 hidden-sm-down"></div>
			 </div>
		</div>
		
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
		<script src="base.json"></script>
		<script src="main.js"></script>
	</body>
</html>